body {
     background-color: black;
     color: gold;
     font-size: 1em;
     line-height: 1.5em;
     font-size: 1.2em;
     text-align: center;
 }
header {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
#wrapper {
    margin: 0 auto;
    width: 800px;
    text-align: center !important; 
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    color: gold;
}

table {    
    margin-left: 25%;
}